/* style-course-reviews.css */

.root {
    -fx-background-color: #101a3f; /* Dark background color */
    -fx-text-fill: #ffffff; /* Text color */
    -fx-font-family: "Georgia";
}

.label {
    -fx-text-fill: #ffffff; /* Text color for labels */
}

#reviewsTable {
    -fx-control-inner-background: #934820; /* Table background color */
    -fx-table-cell-border-color: #1f1f1f; /* Table cell border color */
    -fx-table-header-border-color: #1f1f1f; /* Table header border color */
    -fx-table-header-background: #d46b2f; /* Table header background color */
    -fx-text-fill: #ffffff;
}

.table-column .label {
    -fx-text-fill: #000000; /* Text color for column header labels */
}

.button {
    -fx-background-color: #2d2d2d; /* Button background color */
    -fx-text-fill: #ffffff; /* Button text color */
}

.button:hover {
    -fx-background-color: #4d4d4d; /* Button hover background color */
}

#rating1, #rating2, #rating3, #rating4, #rating5 {
    -fx-text-fill: #101a3f; /* Radio button text color */
}

#commentField {
    -fx-control-inner-background: #333333; /* Textfield background color */
    -fx-text-fill: #ffffff; /* Textfield text color */
}

#submitReviewButton, #deleteReviewButton {
    -fx-background-color: #2d2d2d; /* Button background color */
    -fx-text-fill: #ffffff; /* Button text color */
}

#submitReviewButton:hover, #deleteReviewButton:hover {
    -fx-background-color: #4d4d4d; /* Button hover background color */
}
