.root {
    -fx-background-color: #101a3f; /* Dark background color */
    -fx-text-fill: #ffffff; /* Text color */
}

.title {
    -fx-text-fill: #ffffff; /* Text color for titles */
}

#reviewTable {
    -fx-control-inner-background: #934820; /* Table background color */
    -fx-table-cell-border-color: #1f1f1f; /* Table cell border color */
    -fx-table-header-border-color: #1f1f1f; /* Table header border color */
    -fx-table-header-background: #2d2d2d; /* Table header background color */

}

.button {
    -fx-background-color: #2d2d2d; /* Button background color */
    -fx-text-fill: #ffffff; /* Button text color */
}

.button:hover {
    -fx-background-color: #4d4d4d; /* Button hover background color */
}